In [ ]:
#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins 

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai

In [9]:
import pandas as pd

In [10]:
df_ord=pd.read_excel('/Users/nikhilgopalakrishnan/Documents/Sinara/FSDS/Superstore_USA.xlsx')
df_ord.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [11]:
df_ord.keys()

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [7]:
df_rt=pd.read_excel('/Users/nikhilgopalakrishnan/Documents/Sinara/FSDS/Superstore_USA.xlsx',sheet_name='Returns')
df_rt.dtypes

Order ID     int64
Status      object
dtype: object

In [8]:
df_usrs=pd.read_excel('/Users/nikhilgopalakrishnan/Documents/Sinara/FSDS/Superstore_USA.xlsx',sheet_name='Users')
df_usrs.dtypes

Region     object
Manager    object
dtype: object

# 3 . Find out how return that we ahve recived and with a product id

In [193]:
df_prd_ret = df_ord.set_index('Order ID').join(df_rt,on='Order ID')[['Product Name']].drop_duplicates()
df_prd_ret

                                               Product Name
Order ID
88525                                              Avery 49
88522        SANFORD Liquid Accent™ Tank-Style Highlighters
88523                                            Xerox 1968
88523              Acme® Preferred Stainless Steel Scissors
88523                                                   V70
...                                                     ...
89815     Verbatim DVD Rewritable Disc, Single-Sided, 4.7GB
86794     Acco Smartsocket™ Table Surge Protector, 6 Col...
88440                               DAX Wood Document Frame
90743                                                R289LX
90507                                 Alliance Rubber Bands

[1263 rows x 1 columns]

# 4 . try  to join order and return data both in sql and pandas

In [39]:
df_ord.set_index('Order ID').join(df_rt.set_index('Order ID'),on='Order ID')

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Status
Order ID,,,,,,,,,,,,,,,,,,,,,
88525,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,NaN
88522,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,NaN
88523,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,NaN
88523,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,NaN
88523,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87532,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,NaN
87532,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,NaN
87533,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,NaN
87530,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,NaN
87533,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,NaN

# 5 . Try to find out how many unique customer that we have

In [40]:
df_ord.keys()

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [41]:
df_ord['Customer Name'].drop_duplicates().count()

2703

## 6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [46]:
df_mgr = df_ord.join(df_usrs.set_index('Region'),on='Region',lsuffix='_left', rsuffix='_right')
df_mgr.groupby('Manager')['Region'].count()
#df_mgr.keys()
#df_mgr
#df_mgr.dtypes

Manager
Chris      2899
Erin       2289
Sam        1954
William    2284
Name: Region, dtype: int64

## 7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [91]:

df_shp = pd.DataFrame(df_ord['Ship Mode'].value_counts().reset_index().values,columns=['Ship Mode','Shp_Cnt'])
df_shp['pct']=df_shp['Shp_Cnt']/df_shp['Shp_Cnt'].sum()
df_shp

        Ship Mode Shp_Cnt       pct
0     Regular Air    7036  0.746446
1  Delivery Truck    1283  0.136113
2     Express Air    1107  0.117441

## 8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

In [92]:
df_ord.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [102]:
df_ord['delta'] = (df_ord['Ship Date']-df_ord['Order Date']).dt.days
df_ord[['Ship Date','Order Date','delta']]

      Ship Date Order Date  delta
0    2012-05-30 2012-05-28      2
1    2010-07-08 2010-07-07      1
2    2011-07-28 2011-07-27      1
3    2011-07-28 2011-07-27      1
4    2011-07-27 2011-07-27      0
...         ...        ...    ...
9421 2013-05-15 2013-05-14      1
9422 2013-05-14 2013-05-14      0
9423 2013-09-14 2013-09-12      2
9424 2010-02-11 2010-02-08      3
9425 2013-09-14 2013-09-12      2

[9426 rows x 3 columns]

## 9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

In [105]:
df_ord[df_ord.delta > 10]['Order ID']

643     87215
1548    86318
1549    86318
1678    87957
1679    87957
1680    87957
1697    19556
1698    19556
1699    19556
2515    86177
5548    88223
5673    88352
5859    87572
5881    91294
8607    86434
8609    86436
8610    86436
8973    87300
8982    19841
8983    19841
8993    19841
8996    87300
8997    87300
Name: Order ID, dtype: int64

## 10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well

In [106]:
df_mgr.keys()

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Manager'],
      dtype='object')

In [112]:
df_mgr = df_ord.join(df_usrs.set_index('Region'),on='Region')
df_del = df_mgr.join(df_rt.set_index('Order ID'),on='Order ID')
df_del[df_del.delta > 15][['Order ID','Manager']]

      Order ID  Manager
643      87215    Chris
1678     87957  William
1680     87957  William
1697     19556  William
1699     19556  William
2515     86177  William
5673     88352     Erin
5859     87572      Sam
5881     91294  William
8607     86434      Sam
8609     86436      Sam
8610     86436      Sam
8973     87300      Sam
8982     19841     Erin
8983     19841     Erin
8993     19841     Erin
8996     87300     Erin
8997     87300     Erin

## 11 . Gorup by region and find out which region is more profitable

In [140]:

df_prf=df_ord.groupby('Region')[['Profit']].max()
df_prf

             Profit
Region
Central  12504.9045
East      9228.2256
South    16332.4140
West      8917.7187

In [141]:
df_prf.nlargest(1,'Profit')

           Profit
Region
South   16332.414

## 12 . Try to find out overalll in which country we are giving more didscount 
### Since country is USA always, I have calculated based on state

In [142]:
df_ord.groupby('State or Province')[['Discount']].sum()

                      Discount
State or Province
Alabama                   5.87
Arizona                   6.86
Arkansas                  5.80
California               52.28
Colorado                  8.05
Connecticut               4.28
Delaware                  0.66
District of Columbia      3.10
Florida                  26.38
Georgia                   9.79
Idaho                     5.57
Illinois                 29.71
Indiana                  12.22
Iowa                      7.15
Kansas                    6.89
Kentucky                  4.23
Louisiana                 4.86
Maine                     6.66
Maryland                  8.85
Massachusetts            11.22
Michigan                 15.29
Minnesota                12.52
Mississippi               3.89
Missouri                  8.09
Montana                   2.39
Nebraska                  3.59
Nevada                    1.80
New Hampshire             2.62
New Jersey                8.73
New Mexico                4.08
New York                 28.86
North Carolina           12.02
North Dakota              1.71
Ohio                     19.71
Oklahoma                  5.17
Oregon                    8.42
Pennsylvania             13.32
Rhode Island              1.09
South Carolina            5.34
South Dakota              1.30
Tennessee                 8.55
Texas                    31.36
Utah                      7.67
Vermont                   3.19
Virginia                  9.80
Washington               15.48
West Virginia             2.16
Wisconsin                 8.06
Wyoming                   1.15

In [143]:
df_ord.groupby('State or Province')[['Discount']].sum().nlargest(1,'Discount')

                   Discount
State or Province
California            52.28

## 13 . Give me a list of unique postal code

In [144]:
df_ord['Postal Code'].drop_duplicates()

0       60101
1       98221
7       91776
9       95123
13       2724
        ...
9381     6820
9393    60014
9400    61832
9406    62521
9413    26554
Name: Postal Code, Length: 1697, dtype: int64

## 14 . which customer segement is more profitalble find it out .

In [145]:
df_ord.groupby('Customer Segment')[['Profit']].sum()

                         Profit
Customer Segment
Consumer          206559.625348
Corporate         505538.627783
Home Office       283869.553814
Small Business    316474.592482

In [146]:
df_ord.groupby('Customer Segment')[['Profit']].sum().nlargest(1,'Profit')

                         Profit
Customer Segment
Corporate         505538.627783

## 15 . try to find out the 10th most loss making product catagory .
### since we have only 3 product category, I have calculated based on product subcategories

In [161]:
df_prof_subcatg = df_ord.groupby('Product Sub-Category')[['Profit']].sum().sort_values(by='Profit')
df_prof_subcatg

                                       Profit
Product Sub-Category
Tables                          -72495.061875
Bookcases                        -7708.748564
Rubber Bands                     -2841.722459
Scissors, Rulers and Trimmers    -1936.849120
Pens & Art Supplies               1195.902840
Storage & Organization            8078.804727
Labels                           17775.320505
Paper                            35361.621738
Envelopes                        46133.223840
Computer Peripherals             87917.842513
Office Furnishings               92209.225867
Appliances                      121651.391380
Copiers and Fax                 129156.684030
Chairs & Chairmats              165348.882760
Office Machines                 168072.833340
Binders and Binder Accessories  226572.523042
Telephones and Communication    297950.524866

In [164]:
df_prof_subcatg['Rnk'] = df_prof_subcatg['Profit'].rank()
df_prof_subcatg

                                       Profit   Rnk
Product Sub-Category
Tables                          -72495.061875   1.0
Bookcases                        -7708.748564   2.0
Rubber Bands                     -2841.722459   3.0
Scissors, Rulers and Trimmers    -1936.849120   4.0
Pens & Art Supplies               1195.902840   5.0
Storage & Organization            8078.804727   6.0
Labels                           17775.320505   7.0
Paper                            35361.621738   8.0
Envelopes                        46133.223840   9.0
Computer Peripherals             87917.842513  10.0
Office Furnishings               92209.225867  11.0
Appliances                      121651.391380  12.0
Copiers and Fax                 129156.684030  13.0
Chairs & Chairmats              165348.882760  14.0
Office Machines                 168072.833340  15.0
Binders and Binder Accessories  226572.523042  16.0
Telephones and Communication    297950.524866  17.0

In [166]:
df_prof_subcatg[df_prof_subcatg.Rnk == 10.0]

                            Profit   Rnk
Product Sub-Category
Computer Peripherals  87917.842513  10.0

## 16 . Try to find out 10 top  product with highest margins

In [182]:
df_ord[['Product Name','Product Base Margin']].drop_duplicates().groupby('Product Name').filter(lambda x:x['Product Name'].count() > 1).sort_values(by='Product Name')
#df_ord.groupby('Product Name').filter(lambda x:x['Product Name'].count() > 1)['Product Name']

                                           Product Name  Product Base Margin
1281               Adesso Programmable 142-Key Keyboard                 0.74
898                Adesso Programmable 142-Key Keyboard                 0.79
4020            Bevis Round Bullnose 29" High Table Top                 0.65
620             Bevis Round Bullnose 29" High Table Top                 0.61
1237  Bevis Round Conference Table Top & Single Colu...                 0.65
1205  Bevis Round Conference Table Top & Single Colu...                 0.64
2132           Bevis Round Conference Table Top, X-Base                 0.76
790            Bevis Round Conference Table Top, X-Base                 0.74
993   BoxOffice By Design Rectangular and Half-Moon ...                 0.77
631   BoxOffice By Design Rectangular and Half-Moon ...                 0.72
1145      Bretford CR4500 Series Slim Rectangular Table                 0.66
942       Bretford CR4500 Series Slim Rectangular Table                 0.62
1416      Bretford CR8500 Series Meeting Room Furniture                 0.71
2571      Bretford CR8500 Series Meeting Room Furniture                 0.60
1688  Bush Advantage Collection® Round Conference Table                 0.73
1122  Bush Advantage Collection® Round Conference Table                 0.64
1314                                 Canon PC940 Copier                 0.52
90                                   Canon PC940 Copier                 0.38
5030  Chromcraft 48" x 96" Racetrack Double Pedestal...                 0.66
1984  Chromcraft 48" x 96" Racetrack Double Pedestal...                 0.63
3186  Chromcraft Bull-Nose Wood 48" x 96" Rectangula...                 0.80
910   Chromcraft Bull-Nose Wood 48" x 96" Rectangula...                 0.66
1714          Fellowes Basic 104-Key Keyboard, Platinum                 0.60
2024          Fellowes Basic 104-Key Keyboard, Platinum                 0.65
442            Fellowes Mobile Numeric Keypad, Graphite                 0.66
400            Fellowes Mobile Numeric Keypad, Graphite                 0.64
2691  Fellowes Smart Design 104-Key Enhanced Keyboar...                 0.74
2487  Fellowes Smart Design 104-Key Enhanced Keyboar...                 0.68
653            Global Adaptabilities™ Conference Tables                 0.66
1522           Global Adaptabilities™ Conference Tables                 0.78
2121               Iceberg OfficeWorks 42" Round Tables                 0.75
246                Iceberg OfficeWorks 42" Round Tables                 0.70
885                                KI Conference Tables                 0.72
360                                KI Conference Tables                 0.69
6030                 Keytronic 105-Key Spanish Keyboard                 0.77
693                  Keytronic 105-Key Spanish Keyboard                 0.67
2535                          Keytronic French Keyboard                 0.79
3336                          Keytronic French Keyboard                 0.65
534                            Logitech Access Keyboard                 0.37
3613                           Logitech Access Keyboard                 0.48
3086               Logitech Internet Navigator Keyboard                 0.80
866                Logitech Internet Navigator Keyboard                 0.79
1146  Micro Innovations Micro Digital Wireless Keybo...                 0.45
4404  Micro Innovations Micro Digital Wireless Keybo...                 0.44
2599                        Microsoft Internet Keyboard                 0.77
2790                        Microsoft Internet Keyboard                 0.78
5892              Panasonic KX-P3200 Dot Matrix Printer                 0.60
1196              Panasonic KX-P3200 Dot Matrix Printer                 0.57
637                            Prang Drawing Pencil Set                 0.45
988                            Prang Drawing Pencil Set                 0.58
2914  Staples #10 Laser & Inkjet Envelopes, 4 1/8" x...                 0.35
243   Staples #10 Laser & Inkjet Envelopes, 4 1/8" x...                 0.39

In [185]:
pd.set_option('display.max_rows', 500) 
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

In [186]:
df_ord[df_ord['Product Name'] == 'Adesso Programmable 142-Key Keyboard']

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID          Customer Name    Ship Mode Customer Segment Product Category  Product Sub-Category Product Container                          Product Name  Product Base Margin   Region     State or Province             City  Postal Code Order Date  Ship Date     Profit  Quantity ordered new     Sales  Order ID  delta
898     5477            Low      0.01      152.48            4.0          342       Jacqueline Noble  Regular Air        Corporate       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79    South               Florida            Miami        33181 2013-10-28 2013-10-30  407.96300                    97  14642.66     38912      2
904    23477            Low      0.01      152.48            4.0          347      Alexandra Lambert  Regular Air        Corporate       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79     East            New Jersey   Cliffside Park         7010 2013-10-28 2013-10-30  608.90000                    24   3622.93     88155      2
1281   26315       Critical      0.07      152.48            6.5          497            Steve McKee  Regular Air   Small Business       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.74    South             Tennessee     Murfreesboro        37130 2010-11-14 2010-11-16  171.83880                    35   5062.49     90706      2
2093   23878  Not Specified      0.03      152.48            4.0          792             Holly Pate  Regular Air        Corporate       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79  Central              Oklahoma          Mustang        73064 2011-12-22 2011-12-23  149.82000                    10   1582.59     88754      1
3013   21104           High      0.10      152.48            4.0         1139       Stacey Davenport  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79  Central                 Texas    The Woodlands        77381 2013-05-06 2013-05-08   14.85000                    12   1745.59     86585      2
3251   21207       Critical      0.02      152.48            6.5         1233            Gary Hester  Express Air         Consumer       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.74  Central                 Texas     Flower Mound        75028 2010-10-09 2010-10-11 -564.60240                     1    162.91     89375      2
3914   18226         Medium      0.09      152.48            4.0         1471        Danielle Daniel  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79     East                  Ohio      Westerville        43081 2011-10-13 2011-10-15  116.49040                    13   1948.14     87080      2
4008   19256            Low      0.04      152.48            6.5         1502            Renee Huang  Regular Air   Small Business       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.74    South               Florida    Coral Springs        33065 2012-10-16 2012-10-16 -109.38200                     8   1241.31     89196      0
4409   24595            Low      0.07      152.48            6.5         1660       Keith Liu Duncan  Regular Air   Small Business       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.74  Central                 Texas         Mesquite        75150 2013-06-18 2013-06-20  209.53200                    12   1735.71     90130      2
4814   21647  Not Specified      0.04      152.48            4.0         1782        Lawrence Dennis  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79     West            California     San Clemente        92672 2013-11-25 2013-11-26  606.14400                    41   6001.62     89866      1
5177   23551         Medium      0.10      152.48            4.0         1938       Franklin Spencer  Express Air        Corporate       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79  Central                Kansas          Emporia        66801 2010-03-22 2010-03-23 -521.09000                     4    558.17     88870      1
5204   19640            Low      0.03      152.48            4.0         1948          Angela Alston  Regular Air        Corporate       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79     West               Montana         Billings        59102 2011-04-20 2011-04-24  611.43000                    12   1792.62     90416      4
5579   21309       Critical      0.03      152.48            6.5         2058  Louise Webster Sharma  Regular Air        Corporate       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.74    South        North Carolina          Hickory        28601 2013-09-24 2013-09-25   -9.74400                    23   3537.90     88046      1
5788   25385            Low      0.03      152.48            4.0         2119          James Goldman  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79  Central                 Texas   Harker Heights        76543 2012-06-14 2012-06-21 -225.33600                     6    887.43     90894      7
5855   19297           High      0.03      152.48            4.0         2141          Molly Webster  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79     West              Colorado          Durango        81301 2013-06-07 2013-06-09 -433.85600                     1    158.26     87574      2
6921   24037       Critical      0.07      152.48            4.0         2542            Anne Kelley  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79     East              New York              Rye        10580 2013-11-10 2013-11-12  154.83216                    11   1622.26     87930      2
7057   18509           High      0.04      152.48            6.5         2577          Alfred Burton  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.74    South               Alabama       Montgomery        36116 2011-08-23 2011-08-25  802.17390                    22   3445.81     88300      2
7101   25349         Medium      0.10      152.48            6.5         2588            Diane Flynn  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.74  Central             Wisconsin  Menomonee Falls        53051 2012-12-20 2012-12-21   32.25000                    14   1998.10     91170      1
9225    1288       Critical      0.10      152.48            4.0         3342              Paul Tate  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79     East  District of Columbia       Washington        20006 2013-05-05 2013-05-07 -390.77000                    16   2283.55      9409      2
9229   19288       Critical      0.10      152.48            4.0         3343            Herbert Liu  Regular Air      Home Office       Technology  Computer Peripherals         Small Box  Adesso Programmable 142-Key Keyboard                 0.79  Central              Michigan          Redford        48239 2013-05-05 2013-05-07 -390.77000                     4    570.89     89932      2

### Based on above data , margin is based on Shipping Cost and Product Name

In [188]:
df_prod = df_ord[['Product Name','Shipping Cost','Product Base Margin']].drop_duplicates()
df_prod

                                           Product Name  Shipping Cost  Product Base Margin
0                                              Avery 49           0.50                 0.36
1        SANFORD Liquid Accent™ Tank-Style Highlighters           0.93                 0.54
2                                            Xerox 1968           6.15                 0.37
3              Acme® Preferred Stainless Steel Scissors           3.60                 0.56
4                                                   V70           2.50                 0.59
...                                                 ...            ...                  ...
9071                        Hon 4-Shelf Metal Bookcases          56.22                 0.60
9072                     DAX Clear Channel Poster Frame          57.40                 0.48
9150  G.E. Longer-Life Indoor Recessed Floodlight Bulbs          54.95                 0.37
9158           Seth Thomas 14" Putty-Colored Wall Clock          57.87                 0.54
9316                              Alliance Rubber Bands           1.02                 0.81

[1330 rows x 3 columns]

In [189]:
df_prod.nlargest(10, 'Product Base Margin')

                                           Product Name  Shipping Cost  Product Base Margin
230                    Belkin OmniView SE Rackmount Kit          35.00                 0.85
253                                         Accessory27           5.00                 0.85
686   Office Impressions Heavy Duty Welded Shelving ...          35.00                 0.85
881                   Sterling Rubber Bands by Alliance           0.70                 0.85
963                                          Accessory4           0.99                 0.85
695                         Tennsco Commercial Shelving          35.00                 0.84
2847  Serrated Blade or Curved Handle Hand Letter Op...           1.92                 0.84
6196  Tennsco Stur-D-Stor Boltless Shelving, 5 Shelv...          35.00                 0.84
107                                         Accessory29           1.25                 0.83
165                  Iris® 3-Drawer Stacking Bin, Black          11.52                 0.83